<div class="post-main" id="post-main">
  <div class="post-container">
    <div class="post">
      <h2>{{title}}</h2>
      <p>{{post_content}}</p>
      <p>Posted on {{format_date createdAt}} by {{username}}</p>
    </div>
  </div>
  <div class="comments-container">
    <h3 class="post-body-text">Comments:</h3>
    {{#each comments}}
      <div class="comment">
        <p class="post-body-text">{{content}}</p>
        <!-- Access the content property of the comment -->
        <p>Posted by {{Blogger.username}} on {{format_date commentDate}}.</p>
      </div>
    {{/each}}
  </div>
  <br>
  <form id="comment-form">
    <label for="comment">Add a comment:</label>
    <textarea id="commentDataToAdd" name="commentContent" rows="4" cols="50"></textarea>
    <button type="submit">Submit</button>
  </form>
</div>